##
# Exclude from release archives.
#
# Here we add resources that are not needed in the download
# for production use.
##

.editorconfig			export-ignore
.gitattributes       	export-ignore
.gitignore           	export-ignore
.github					export-ignore
.git                 	export-ignore
.gitkeep			 	export-ignore

##
# Don't try and diff these...
##
composer.lock -diff

##
# Handle line endings.
# See https://help.github.com/articles/dealing-with-line-endings/
##
* text eol=lf
*.php text
*.jpg binary
*.png binary
*.gif binary
*.ico binary
